.wrapper
  %h2.top 新規会員登録
  .registration
    .registration__email
      = link_to signup_registration_path do
        = fa_icon 'envelope-o'
        %p メールアドレスで登録する
    .registration__facebook
      -# = link_to signup_facebook_path do
      = fa_icon 'facebook'
      %p Facebookで登録する
    .registration__google
      -# = link_to signup_google_path do
      = fa_icon 'google'
      %p Googleで登録する