.sub-header
  = link_to root_path do
    = image_tag "fmarket_logo_red.svg" 
  %ol.nav
    %li.nav__box
      %p.nav__box__progress 会員情報
      .nav__box__status#status
        .nav__box__status__bar1#bar
    %li.nav__box
      %p.nav__box__progress 電話番号認証
      .nav__box__status#status
        .nav__box__status__bar2#bar
    %li.nav__box
      %p.nav__box__progress#progress お届け先住所入力
      .nav__box__status#status
        .nav__box__status__bar3
    %li.nav__box
      %p.nav__box__progress 支払い方法
      .nav__box__status
        .nav__box__status__bar4
    %li.nav__box
      %p.nav__box__progress 完了
      .nav__box__status

.address
  = form_with model: @address, url: registrate_address_path, local: true, class: 'main' do |f|
    %h2.top 住所入力
    = render partial: 'shared/address', locals: { "@address": @address, f: f}