.sub-header {
  height:128px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 185px;
    height: 49px;
  }
  img:hover {
    opacity: 0.6;
  }
  .nav {
    display: flex;
    color: #888888;
    padding: 35px 0 0 48px;
    align-self: flex-start;
    &__box {
      margin-right: 44px;
      &__progress {
        height: 15px;
        font-size: 12px;
      }
      &__status {
        height: 12px;
        width: 12px;
        background-color: #ccc;
        margin: 8px auto 0;
        border-radius: 50%;
        position: relative;
        &__bar1 {
          position: absolute;
          height: 2px;
          background-color: #ccc;
          top: 50%;
          left: 100%;
          width: 92px;
        }
        &__bar2 {
          position: absolute;
          height: 2px;
          background-color: #ccc;
          top: 50%;
          left: 100%;
          width: 116px;
        }
        &__bar3 {
          position: absolute;
          height: 2px;
          background-color: #ccc;
          top: 50%;
          left: 100%;
          width: 110px;
        }
        &__bar4 {
          position: absolute;
          height: 2px;
          background-color: #ccc;
          top: 50%;
          left: 100%;
          width: 74px;
        }
        #bar {
          background: #ea352d;
        }
      }
      #progress {
        color: #ea352d;
        font-weight: 600;
      }
      #status {
        background-color: #ea352d;
      }
    }
    &__box:last-child {
      margin: 0;
    }
  }
}
