.header {
  height: 100px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  position: relative;
  &__container {
    margin: 0 auto;
    width: 1024px;
    padding: 8px 0 0;
    &__top {
      display: flex;
      width: 1020px;
      height: 40px;
      justify-content: space-between;
      line-height: 1.4em;
      &__icon {
        cursor: pointer;
        margin-right: 45px;
        width: 134px;
        height: 40px;
        i {
          width: 100%;
          height: 100%;
        }
      }
      &__search {
        width: calc(100% - 179px);
        position: relative;
        input {
          width: 100%;
          height: 40px;
          background-color: rgb(245, 245, 245);
          font-size: 16px;
          border-radius: 4px;
          padding: 0px 50px 0px 10px;
          border: 1px solid rgb(204, 204, 204);
        }
        input:active {
          border: solid 1px rgb(0, 149, 238)
        }
        button {
          position: absolute;
          right: 0;
          height: 40px;
          width: 40px;
          border: none;
          background-color: rgba(0, 0, 0, 0.0);
          cursor: pointer;
          i:before {
            max-width: 100%;
            max-height: 100%;
            line-height: 40px;
            color: rgb(34, 34, 34);
            height: 14px;
            width: 14px;
            margin-top: 2px;
          }
        }
      }
    }
    &__bottom {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
      height: 44px;
      position: relative;
      &__category-box {
          position: absolute;
          display: flex;
          top: 44px;
          z-index: 5;
        &__large-box {
          width: 224px;
          height: 691px;
          background: #fff;
          box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
          &__name {
            display: inline-block;
            height: 44px;
            width: 224px;
            box-sizing: border-box;
            text-decoration: none;
            color: #333333;
            padding: 0 16px;
            line-height: 44px;
          }
        }
        &__mid-box {
          width: 224px;
          height: 691px;
          background-color: #fff;
          box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
          &__name {
            display: inline-block;
            height: 30px;
            width: 224px;
            box-sizing: border-box;
            text-decoration: none;
            color: #333333;
            padding: 8px 16px;
          }
        }
        &__small-box {
          width: 320px;
          height: 691px;
          background-color: #fff;
          box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
          &__name {
            display: inline-block;
            text-decoration: none;
            height: 30px;
            width: 320px;
            box-sizing: border-box;
            text-emphasis: none;
            color: #333333;
            padding: 8px 16px;
          } 
        }
      }
        
      &__left {
        a {
          text-decoration: none;
          color: #333333;
        }
        display: flex;
        font-weight: bold;
        &__category {
          display: flex;
          padding-right: 10px;
          cursor: pointer;
          line-height: 36px;
        
          
        
          &__icon {
            color: rgb(234, 53, 45);
            margin-right: 4px;
          }
          &__character {
            font-size: 14px;
          }
          &__character:hover {
            color:rgb(0, 149, 238);
          }
        }
        &__brands {
          display: flex;
          padding-left: 10px;
          cursor: pointer;
          line-height: 36px;
          &__icon {
            color: rgb(234, 53, 45);
            margin-right: 4px;
          }
          &__character {
            font-size: 14px;

          }
          &__character:hover {
            color:rgb(0, 149, 238)
          }
        }
      }
      &__right {
        &__logout {
          margin-top: 8px;
          &__registration {
            background-color: rgb(234, 53, 45);
            color: white;
            border-radius: 4px;
            text-decoration: none;
            font-size: 14px;
            padding: 8px 10px;
          }
          &__login {
            color: rgb(0, 149, 238);
            border: solid 1px rgb(0, 149, 238);
            border-radius: 4px;
            text-decoration: none;
            font-size: 14px;
            padding: 8px 10px;
            margin-left: 11px;
          }
          &__login:hover {
            background-color: rgb(0, 149, 238);
            color: white;
          }
        }
        &__login {
          &__my-page {
            text-decoration: none;
            display: flex;
            &__icon {
              background-color: rgb(225, 225, 225);
              color: rgb(100, 100, 100);
              border-radius: 40px;
              width:32px;
              height: 32px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            &__chara {
              text-decoration: none;
              margin-left: 10px;
              font-size: 14px;
              vertical-align: top;
              color: rgb(51, 51, 51);
              line-height: 32px;
            }
            &__chara:hover {
              color:rgb(0, 149, 238)
            }
          }
        }
      }
    }
  }
}