%nav.bread-crumbs 
  = render_breadcrumbs tag: :span, separator: ' > '
.logout
  .logout__container
    = render "shared/user-side"
    .logout__container__logout
      = link_to destroy_user_session_path, method: :delete, class: 'logout__container__logout__button' do
        ログアウト