.sign {
    background-color: rgb(239, 239, 247);
   
     &__header{ 
        margin: auto;
        width: 907px;
        height: 128px;
        text-align: center;
        position: relative;

        h1{
           padding: 40px;
        }

    }   

    .sign__main{
       margin: auto;
       height: 100%;
       width: 907px;
    }


    .sign-content__buy-item-content{
       background-color: white;
       width: 700px;
       margin: 0 auto;
    
    #exhibit-content{
        .exhibit-content__inner{
            .l-sign-head{
                padding: 32px 16px;
                font-size: 22px;
                text-align: center;
                font-weight: bold;
                border-bottom: 1px solid  rgb(239, 239, 247);
               
            }
            .exhibit-form{
                .exhibit-upload__box{
                    width: 620px;
                    padding: 40px;
                    border-bottom: 1px solid  rgb(239, 239, 247);
                    .exhibit-upload__head
                        .form__necessary{
                            background-color: red;
                            margin: 0 0 0 8px;
                            padding: 2px 4px;
                            color: #fff;
                            font-size: 16px;
                            font-weight: bold;  
                        }

                    
        
                    p{
                        margin: 8px 0 0 ;
                        font-size: 14px;
                    }

                    .exhibit-dropbox-content.clearfix.state-image-number-10{
                        text-align: center;
                        margin:  1em auto;
                        padding: 3em;
                        width: 80%;
                        border: 1px dashed #88b6fa; /*太さ・線種・色*/
                        color: black; /* 文字色 */
                        background-color:rgb(236, 231, 231); /* 背景色 */
                        border-radius: 1px; /*角の丸み*/
                        .exhibit-upload-items-content{
                            .exhibit-upload-items.have-item-0{}
                        }
                        .exhibit-upload-drop-box.have-item-0{
                            .exhibit-upload-drop-file{
                            }
                            .see-pc{
                            }
                            .icon-photo{}
                        }
                    }
                }
                .exhibit-content{
                    font-size: 14px;
                    padding: 40px;
                    border-top: 1px solid #eee;
                    .form--groups
                        .form__necessary{  
                            background-color: red;
                            margin: 0 0 0 8px;
                            padding: 2px 4px;
                            border-radius: 2px;
                            color: #fff;
                            font-size: 12px;
                            vertical-align: top;
                            font-weight: bold;
                        }
                        .input-normal{
                            height: 100%;
                            width: 586px;
                            padding: 11px 16px ;
                            border-radius: 4px;
                            border: 1px solid #ccc;
                            background: #fff;
                            line-height: 1.5;
                            font-size: 16px;
                            margin: 8px 0 40px;
                        }
                        .textarea-normal{
                            display: block;
                            width: 598px;
                            max-width: 100%;
                            min-height: 104px;
                            padding: 10px;
                            border: 1px solid #ccc;
                            background: #fff;
                            font-size: 16px;
                            line-height: 1.5;
                        }
                }
                .exhibit-content__onebox{
                    height: 180px;
                    padding: 40px;
                    border-top: 1px solid #eee;
                    .exhibit-sub-head{
                        color: #888;
                        font-size: 14px;
                        position: absolute;
                    }
                    .exhibit-form-box{
                        float: right;
                        width: 400px;
                        height: 211px;
                        position: relative;
                        bottom: 40px;
                        font-size: 12px;
                        .form--groups{
                            margin: 40px 0 0;
                            .form__necessary {
                                background-color: red;
                                margin: 0 0 0 8px;
                                padding: 2px 4px;
                                color: #fff;
                                font-weight: bold;
                            }
                            .select-enclose{
                                .icon-rod-bottom{}
                                .select-normal{
                                    width: 400px;
                                    height: 48px;
                                    background-color: white;
                                }
                                
                            }    
                            
                        }
                    }    
                }
                .exhibit-content__twobox{
                    height: 290px;
                    padding: 40px;
                    border-top: 1px solid #eee;
                    .exhibit-sub-head{
                        color: #888;
                        font-size: 14px;                      
                        display: flex;
                        float: left;
                        
                    }
                    a {
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        background: #0099e8;
                        color: #fff;
                        line-height: 14px;
                        font-size: 10px;
                        text-align: center;
                        position: relative;
                        left: 10px;
                        bottom: 5px;
                        
                    }
                    .exhibit-form-box{
                        float: right;                        
                        position: relative;
                        bottom: 40px;
                        .form--groups{
                            margin: 40px 0 0;
                            font-size: 12px;
                            .form__necessary {
                                background-color: red;
                                margin: 0 0 0 8px;
                                padding: 2px 4px;
                                color: #fff;
                                font-weight: bold;
                            }
                            .select-enclose{
                        
                                .select-normal{
                                    width: 400px;
                                    height: 48px;
                                    margin: 4px 0 0;
                                    background-color: white;

                                }
                                
                            }    
                            
                        }
                   }
                
                }  
                .exhibit-content__threebox{
                    height: 218px;
                    padding: 40px;
                    border-top: 1px solid #eee;
                    .exhibit-sub-head{
                        color: #888;
                        font-size: 12px;
                        position: absolute;
                        display: flex;
                        
                    }
                    a {
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        background: #0099e8;
                        color: #fff;
                        line-height: 14px;
                        font-size: 10px;
                        text-align: center;
                        position: relative;
                        left: 160px;
                        bottom: 5px;
                    }
                    .exhibit-form-box{
                        float: right;
                        width: 400px;
                        height: 218px;
                        position: relative;
                        .exhibit-price{
                            height: 218px;
                            position: absolute;
                            bottom: 16px;
                            .form--groups{
                                height: 72px;
                                margin: 15px 0 0;
                                .box-lines-one{
                                    font-size: 14px;
                                    height: 63px;
                                    width: 400px;
                                    display:flex;
                                    position: relative;
                                    top: 5px;
                                    .l-left-line{
                                        .form__necessary{
                                            font-size: 12px;
                                            background-color: red;
                                            margin: 0 0 0 3px;
                                            padding: 2px 4px;
                                            color: #fff;
                                            font-weight: bold;   
                                        }   
                                    }    
                                    .l-right.exhibit-price-input{
                                        display: flex;
                                        float: right;
                                        position: relative;
                                        left: 150px;
                                        top: 10px;

                                        
                                        .input-normal{
                                            height: 28px;
                                            width: 126px;
                                            padding: 10px 16px 8px;
                                            border-radius: 4px;
                                            border: 1px solid #ccc;
                                            background: #fff;
                                            line-height: 1.5;
                                            font-size: 16px;  
                                            position: absolute;
                                            left: 22px;
                                            bottom: 29px;
                                            text-align: right;
                                        }
                                    }
                                }
                            
                            }
                            .box-line{
                                display: flex;
                                border-top: 1px solid #eee;
                                padding: 24px 0;
                                font-size: 14px;
                                .l-left-line{}                             
                                .l-right-line {
                                    position: absolute;
                                    right: 0px;
                                    &__bold{
                                        position: absolute;
                                        right: 0px;
                                        font-size: 34px;
                                        bottom: 5px;
                                    }
                                }
                            }
                            .box-line.bold{
                                font-size: 16px;
                                font-weight: bold;  
                            }
                        }
                    }
                
                }
                .exhibit-content.exhibit-btn-box{
                    height: 248px;
                    p{
                        a{
                            color: #0099e8;
                            text-decoration: none;
                        }
                    }
                    .btn-normal.btn-red{
                        background-color: #ea352d;
                        height: 50px;
                        width: 620px;
                        margin: 40px 0 0 ;
                        .box-yes{
                            font-size: 14px;
                            color:white;
                            
                        }
                    }

                  
                    .btn-normal.btn-gray{
                        position: relative;
                        background-color: grey;
                        
                        display: flex;
                        width: 45%;
                        height: 50px;
                        margin: 24px auto 0;
                        .box-no {
                            color: white;
                            text-decoration: none; 
                        }
                    }
                    
                }   
                

            }

        
        
        }
    }
    }
    .sign-footer{
        height: 140px;
        font-size: 12px;
        padding: 40px ;
        text-align: center;
        
        .l-auto-line{
            display: flex;
            width: 456px;
            margin: auto;
            
            li{
                margin: auto;
                position: relative;
                
                a{
                    color: black;
                    text-decoration: none; 
                }
            }
        }
        .sign-footer-logo{
            color: black;
            text-decoration: none;
            position: relative;
            top: 30px;
        }
    }

}