.cat-search {
  width: 1020px;
  margin: 0 auto;
  padding: 40px;
  &__items {
    a {
      display: inline-block;
      margin: 16px 16px 0 0;
      color: #0099e8;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
      opacity: .7;
    }
    &__title {
      font-size: 22px;
      font-weight: bold;
      margin: 24px 0 8px 0;
    }
    &__list {
    display: flex;
    flex-wrap: wrap;
    }
    &__pager {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      a {
        text-decoration: none;
      }
      &__prev__box {
        height: 42px;
        width: 42px;
        background-color: #fff;
        color: #333;
        border: 1px solid #eee;
        border-radius: 4px;
        font-size: 20px;
        text-align: center;
        line-height: 43px;
      }
      &__current__box {
        display: inline-block;
        height: 42px;
        width: 42px;
        background-color: #fff;
        color: #333;
        border: 1px solid #eee;
        border-radius: 4px;
        font-size: 20px;
        text-align: center;
        line-height: 43px;
      }
      &__next__box {
        height: 42px;
        width: 42px;
        background-color: #fff;
        color: #333;
        border: 1px solid #eee;
        border-radius: 4px;
        font-size: 20px;
        text-align: center;
        line-height: 43px;
      }
    }
  }
  &__explanation {
    width: 100%;
    margin-top: 30px;
    &__title {
      color: #fff;
      background-color: #ea352d;
      font-size: 22px;
      text-align: center;
      font-weight: bold;
    }
    &__text {
      box-sizing: border-box;
      width: 100%;
      background-color: #fff;
      color: #333;
      padding: 30px;
      &__portal {
        display: inline;
      }
    }
  }
}
