.search {
  width: 1020px;
  margin: 40px auto 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  &__side {
    background-color: blue;
    width: 280px;
    height: 1371px;
    margin-right: 40px;
  }
  &__items {
    width: 700px;
    &__result {
      width: 100%;
      display: flex;
      align-items: center;
      &__keyword {
        font-size: 22px;
        font-weight: 600;
      }
      &__default {
        font-size: 18px;
        font-weight: 400;
      }
    }
    &__number {
      margin: 16px 0;
      font: 12px sans-serif;
      color: #888;
    }
    &__list {
      display: flex;
    }
    &__pager {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      a {
        text-decoration: none;
      }
      &__prev__box {
        height: 42px;
        width: 42px;
        background-color: #fff;
        color: #333;
        border: 1px solid #eee;
        border-radius: 4px;
        font-size: 20px;
        text-align: center;
        line-height: 43px;
      }
      &__current__box {
        height: 42px;
        width: 42px;
        background-color: #fff;
        color: #333;
        border: 1px solid #eee;
        border-radius: 4px;
        font-size: 20px;
        text-align: center;
        line-height: 43px;
      }
      &__next__box {
        height: 42px;
        width: 42px;
        background-color: #fff;
        color: #333;
        border: 1px solid #eee;
        border-radius: 4px;
        font-size: 20px;
        text-align: center;
        line-height: 43px;
      }
      #in-page {
        background-color: #ea352d;
        color: white;
      }
    }
  }
}
.bread-crumbs-bottom {
  height: 48px;
  width: 1020px;
  padding: 0 calc(50% - 510px);
  border-top: 1px solid #eee;
  &__icon {
    margin: 0 6px;
    color: #888;
    font-size: 17px;
    line-height: 49px;
  }
  &__page {
    text-decoration: none;
    line-height: 49px;
    font-size: 14px;
  }
  #in-page {
    font-weight: 600;
  }
}