%nav.bread-crumbs 
  = render_breadcrumbs tag: :span, separator: ' > '

.cat-search
  .cat-search__items
    .cat-search__items__child
      - @category.children.limit(9).each do |child|
        = link_to child.name, category_search_items_path+"?category=" + child.id.to_s if @items.length != Item.all.length
    - if @items.length == Item.all.length
      .cat-search__items__title=@category.name + "の商品はございませんでした。新着一覧"
    - elsif @items.current_page == 1
      .cat-search__items__title=@category.name + "の商品一覧"
    - else
      .cat-search__items__title=@category.name + "の商品一覧(" + @items.current_page.to_s + "ページ目)"
    %ul.cat-search__items__list
      = render partial: "item", collection: @items
    = paginate(@items)
  -if @items.length != Item.all.length
    .cat-search__explanation
      -if @category.root?
        .cat-search__explanation__title=@category.name
      -else
        .cat-search__explanation__title=@category.name+"（"+@category.root.name+"）"
      .cat-search__explanation__text
        %p.cat-search__explanation__text__portal=@category.name + "の処分、買取ならメルカリへ。" + @category.name + "の商品は"  + @items.length.to_s + "点以上あります。"
        -unless @category.leaf?
          %p.cat-search__explanation__text__portal="人気のあるカテゴリーは" + @category.leaves[0].name+ "と"+ @category.leaves[1].name + "です。"
        -if @items.length >= 2
          %p.cat-search__explanation__tex="人気の商品は「" + @items[0].name + "」や「" + @items[1].name + "」があります。" + @category.name + "のリサイクルや売ることを検討中の方にお勧めです。"