-# 広告
.advertisement 
  %ul.slider
    %li
      = image_tag "root_banner2.jpg"
    %li
      = image_tag "root_banner1.png"


-# 人気のカテゴリー
.popularity
  %h2.popularity__title
    人気のカテゴリー
  %ul.popularity__item
    %li.popularity__item__bottom 
      %a.popularity__item__bottom__name レディース
    %li.popularity__item__bottom
      %a.popularity__item__bottom__name メンズ
    %li.popularity__item__bottom
      %a.popularity__item__bottom__name 家電・スマホ・カメラ
    %li.popularity__item__bottom
      %a.popularity__item__bottom__name おもちゃ・ホビー・グッズ

-# アイテム一覧
.new
  .new__items
    .new__items__upper
      %h3.new__items__upper__title 商品一覧
      =link_to "/jp/catedory/1/" ,class: "new__items__upper__btn" do
        もっと見る ＞
    %ul.new__items__list
      = render partial: "item", collection: @items
