.logout {
  &__container {
    margin: 40px auto 0;
    padding: 0 0 40px;
    width: 1020px;
    display: flex;
    &__logout {
      background-color: #fff;
      height: 179px;
      width: 700px;
      padding: 64px;
      box-sizing: border-box;
      &__button {
        display: block;
        text-decoration: none;
        cursor: pointer;
        max-width: 320px;
        margin: 0 auto;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        text-align: center;
      }
    }
  }
}