.SNS {
  display: flex;
  margin-top: 40px;
  padding-bottom: 40px;
  padding: 0 calc(50% - 510px);
  position: relative;
  .menu-bar {
    position: absolute;
    height: 16px;
    width: 248px;
    padding: 16px;
    background-color: #eee;
    bottom: 49px;
    text-decoration: none;
    color: #333;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    &__title {
      font-weight: 600px;
    }
    &__icon {
      font-size: 22px;
      line-height: 16px;
    }
  }
  .menu-bar:hover {
    padding-right: 10px;
    width: 255px;
    transition: all ease-out .2s;
  }
  .main {
    width: 700px;
    background-color: #ffffff;
    font-size: 14px;
    height: 320px;
    .title {
      font-size: 24px;
      height: 50px;
      width: 100%;
      text-align: center;
      line-height: 50px;
      font-weight: bold;
    }
    .registration {
      height: 200px;
      width: 343px;
      padding: 24px 178.5px 64px;
      border-top: solid 1px #eee;
      font-size: 14px;
      &__facebook {
        display: block;
        text-decoration: none;
        color: white;
        background-color: #385185;
        height: 50px;
        width: 100%;
        margin: 40px 0 24px;
        position: relative;
        border-radius: 4px;
        i {
          height: 26px;
          width: 23px;
          padding-right: 3px;
          color: #385185;
          background-color: #fff;
          font-size: 24px;
          text-align: end;
          line-height: 32px;
          border-radius: 1px;
          position: absolute;
          top: 12px;
          left: 14px;
        }
        p {
          width: 100%;
          text-align: center;
          line-height: 50px;
        }
      }
      &__google {
        display: block;
        text-decoration: none;
        color: black;
        height: 48px;
        width: 343px;
        border: 1px solid #979797;
        margin-bottom: 56px;
        position: relative;
        border-radius: 4px;
        img {
          position: absolute;
          top: 14px;
          left:15px;
        }
        p {
          width: 100%;
          line-height: 50px;
          text-align: center;
        }
      }
    }
  }
}
