.tel_auth {
  width: 700px;
  margin: 0 auto;
  background-color: #fff;
  .top {
    font-size: 22px;
    height: 97px;
    width: 100%;
    text-align: center;
    line-height: 97px;
    font-weight: bold;
  }
  .form {
    width: 343px;
    padding: 40px 178.5px 64px;
    border-top: 1px solid #eee;
    &__group {
      width: 100%;
      margin-bottom: 32px;
      &__name {
        font-weight: 600;
        display: inline-block;
      }
      &__require {
        height: 15px;
        width: 24px;
        padding: 2px 4px;
        margin-left: 8px;
        text-align: center;
        line-height:16px;
        background-color: #ea352d;
        font-size: 12px;
        color: #fff;
        border-radius: 2px;
        display: inline-block;
        vertical-align: top;
      }
      &__input {
        margin-top: 8px;
        height: 28px;
        width: 309px;
        padding: 10px 16px 8px;
        border: 1px solid #ccc;
        font-size: 16px;
        border-radius: 4px;
      }
      &__err {
        color: #ea352d;
        margin-top: 8px;
      }
      &__info {
        color: #333333;
        margin-top: 8px;
        p {
          display: inline;
        }
        a {
          display: inline;
        }
      }
      &__notice {
        font-size: 16px;
        font-weight: bold;
      }
      &__return {
        display: block;
        color: #0099e8;
        text-decoration: none;
        width: 156px;
        margin-top: 8px;
      }
      &__return:hover {
        opacity: .7;
        text-decoration: underline;
      }
      &__about {
        margin-top: 8px;
        width: 100%;
        font-size: 13.5px;
        p {
          display: inline;
        }
        a {
          display: inline;
          color: #0099e8;
          text-decoration: none;
        }
        a:hover {
          opacity: .7;
          text-decoration: underline;
        }
      }
    }
    &__submit {
      display: block;
      height: 50px;
      width: 343px;
      background-color: #ea352d;
      color: #fff;
      margin-top: 32px;
      cursor: pointer;
      text-decoration: none;
      line-height: 50px;
      text-align: center;
    }
    &__group:last-child {
      margin: 0;
    }
  }
}